* {
  box-sizing: border-box;
}
html{
  --main-width: 1024px;
  --border-color: #EED5D1;
  --aside-width: 400px;
}
body{
  background-color: #FAF3EF;
  margin: 0;
}
div.hr{
  width: 100%;
  height: 4px;
  background-color: var(--border-color);
}

header.header{
  min-width: var(--main-width);
  border-bottom: 4px solid var(--border-color);

  padding: 40px 0;
}
header.header div.content_block{
  width: var(--main-width);
  max-width: 100%;
  margin: 0 auto;
  font-size: 0;
  padding-left: 20px;
}

header.header div.content_block div.left_block, header.header div.content_block div.right_block{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
header.header div.content_block div.left_block{
  width: calc(100% - var(--aside-width) - 20px);
  
}
header.header div.content_block div.left_block h1.name{
  margin: 0 0 10px 0;
  font-size: 72px;
  color: #5C5E43;
}
header.header div.content_block div.left_block p.job_title{
  margin: 0;
  font-size: 32px;
  color: #B88B83;
  letter-spacing: 10px;
}

header.header div.content_block div.right_block{
  width: var(--aside-width);
  margin-left: 20px;
  text-align: right;
}

header.header div.content_block div.right_block div.avatar_block{
  width: 260px;
  display: inline-block;
}
header.header div.content_block div.right_block div.avatar_block img{
  width: 100%;
  vertical-align: bottom;
}

footer.footer{
  width: 100%;
  min-width: var(--main-width);
  text-align: center;
  margin: 30px 0;
  border-top: 4px solid var(--border-color);
  padding-top: 30px;
}
footer.footer p{
  margin: 0;
  font-style: italic;
  color: gray;
}

div.full_block{
  min-width: var(--main-width);
  display: flex;
  --my-padding: calc((100% - var(--main-width)) / 2);
}

div.full_block main.main{
  flex-basis: calc(var(--main-width) - var(--aside-width) + var(--my-padding) );
  border-right: 4px solid var(--border-color);
  flex-shrink: 0;
}
div.full_block aside.aside{
  flex-grow: 1;
  flex-basis: calc(var(--aside-width) + var(--my-padding));
  flex-shrink: 0;
}

main.main section.common_sec{
  font-size: 0;
  padding-left: calc((100vw - var(--main-width)) / 2);
}
main.main section.common_sec div.left_block, main.main section.common_sec div.right_block{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
main.main section.common_sec div.left_block{
  width: 160px;
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 80px;
}
main.main section.common_sec div.left_block img{
  width: 120px;
}
main.main section.common_sec div.right_block{
  width: calc(100% - 160px - 20px);
  padding: 40px 20px;
}
main.main section.common_sec div.right_block h1.title1{
  font-size: 28px;
  color: #B88B83;
  margin: 0;
  letter-spacing: 4px;
}
main.main section.common_sec div.right_block p.para{
  color: #5C5E43;
  line-height: 1.5;
  font-size: 18px;
}
main.main section.common_sec div.right_block ul.list{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #5C5E43;
  font-size: 18px;
}
main.main section.common_sec div.right_block ul.list > li{
  margin-bottom: 8px;
  position: relative;
  padding-left: 18px;
}
main.main section.common_sec div.right_block ul.list > li:last-child{
  margin-bottom: 0;
}
main.main section.common_sec div.right_block ul.list > li::before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;

  position: absolute;
  top: 3px;
  left: 0;
  background-image: url("../images/check.png");
  background-size: contain;
}
main.main section.common_sec div.right_block ul.list > li a{
  color: blue;
  text-decoration: none;
}

aside.aside section.common_sec{
  padding-right: calc((100vw - var(--main-width)) / 2);
}

aside.aside section.common_sec div.content_block{
  width: 100%;
  padding: 40px 20px;
}
aside.aside section.common_sec div.content_block h1.title1{
  margin: 0;
  font-size: 28px;
  color: #B88B83;
  letter-spacing: 4px;
}
aside.aside section.common_sec div.content_block ul.list{
  list-style: none;
  margin: 18px 0 0 0;
  padding: 0;
}
aside.aside section.common_sec div.content_block ul.list > li{
  margin-bottom: 8px;
  padding-left: 28px;
  color: #5C5E43;
  font-size: 18px;
  position: relative;
}
aside.aside section.common_sec div.content_block ul.list > li:last-child{
  margin-bottom: 0;
}
aside.aside section.common_sec div.content_block ul.list > li img.icon{
  width: 18px;
  position: absolute;
  top: 4px;
  left: 0;
}
aside.aside section.common_sec div.content_block ul.list > li .icon{
  width: 18px;
  position: absolute;
  top: 4px;
  left: 0;
}
aside.aside section.common_sec div.content_block ul.list > li a{
  display: inline-block;
  color: blue;
  text-decoration: none;
}